body {
	background-color: #000000;
	padding-bottom: 75px;
	height: auto;
	div,
	p,
	span {
		line-height: 1;
		text-transform: none;
		font-style: normal;
		font-family: PingFang SC, PingFang SC;
	}
}
* {
	margin: 0;
	padding: 0;
}
