.addOptionalBox {
	& > .title {
		font-weight: 400;
		font-size: 14px;
		color: #ffffff;
		padding: 0 16px;
	}
	& > .add {
		border-radius: 30px;
		font-weight: 500;
		font-size: 14px;
		color: #ffffff;
		text-align: center;
		cursor: pointer;
		margin: 12px 16px 0;
		padding: 12px 0;
		border: 1px solid #ffffff;
	}
	& > .itemBox {
		padding: 0 16px;
		border-bottom: 2px solid rgba(255, 255, 255, 0.1);
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		& > .token {
			margin-bottom: 10px;
			padding: 12px;
			width: 48%;
			box-sizing: border-box;
			background: #1a1a1a;
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			& > .left {
				& > .name {
					display: flex;
					margin-bottom: 6px;
					align-items: center;
					.m {
						font-weight: 500;
						font-size: 14px;
						color: rgb(255, 255, 255);
					}
					.u {
						font-weight: 400;
						font-size: 12px;
						color: rgba(255, 255, 255, 0.4);
					}
				}
				& > .allName {
					font-weight: 400;
					font-size: 12px;
					color: rgba(255, 255, 255, 0.4);
				}
			}
			& > .right {
				width: 16px;
				cursor: pointer;
				height: 16px;
			}
		}
	}
}
